<div class="alert alert-info">
  <h1><i class="fa fa-check text-success"></i>&nbsp;&nbsp;It worked!</h1>
  <h2>Congratulations on your first Django + Ember powered page.</h2>
</div>
<p>
  Of course, you haven't actually done any work yet.<br/>
  Next, start your first app by running <code>python manage.py startapp [app_label]</code> in the <code>back</code> directory.<br/>
  Then create a new route and matching controller by running <br/>
  <code>ember g route [app_label] --pod</code><br/>
  <code>ember g controller [app_label] --pod</code><br/>
  in the <code>front</code> directory
</p>

<h3>You can already checkout these examples:</h3>
<div class="col-md-6">
  <div class="material-card">
    <h4>On the backend:</h4>
    <ul>
      <li><code>back/wishes/serializers.py</code> to see how to write a REST serializer</li>
      <li><code>back/wishes/views.py</code> to see how to write a ViewSet.</li>
      <li><code>back/wishes/api_urls.py</code> to see how to make your viewsets available.</li>
    </ul>
  </div>
</div>
<div class="col-md-6">
  <div class="material-card">
    <h4>On the frontend:</h4>
    <ul>
      <li><code>front/app/models/userinfo.js</code> to see how to write a model.</li>
      <li><code>front/app/profiles/route.js</code> to see how to write a route.</li>
      <li><code>front/app/profiles/controller.js</code> to see how to write a controller.</li>
    </ul>
  </div>
</div>
<div class="clearfix"></div>
<div class="alert alert-warning">
  <i class="fa fa-exclamation"></i>&nbsp;&nbsp;Use the username and password you entered during installation to log in.
</div>
